thread-racing/src/main/resources/META-INF/batch-jobs/race.xsd

<!--
JBoss, Home of Professional Open Source
Copyright 2015, Red Hat, Inc. and/or its affiliates, and individual
contributors by the @authors tag. See the copyright.txt in the
distribution for a full listing of individual contributors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!--  Schema for race.xml in thread-racing quickstart -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="job"/>
  <xsd:complexType name="jobType">
    <xsd:sequence>
      <xsd:element type="stepType" name="step"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:string" name="id"/>
  </xsd:complexType>
  <xsd:complexType name="stepType">
    <xsd:sequence>
      <xsd:element type="chunkType" name="chunk"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:string" name="id"/>
  </xsd:complexType>
  <xsd:complexType name="chunkType">
    <xsd:sequence>
      <xsd:element type="readerType" name="reader"/>
      <xsd:element type="processorType" name="processor"/>
      <xsd:element type="writerType" name="writer"/>
    </xsd:sequence>
    <xsd:attribute type="xsd:byte" name="item-count"/>
  </xsd:complexType>
  <xsd:complexType name="readerType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute type="xsd:string" name="ref"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="processorType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute type="xsd:string" name="ref"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="writerType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute type="xsd:string" name="ref"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
