wsat-simple/src/main/webapp/WEB-INF/classes/org/jboss/as/quickstarts/wsat/simple/jaxws/RestaurantServiceAT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RestaurantServiceATService" targetNamespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" xmlns:tns="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RestaurantException" type="tns:RestaurantException"/>
  <xsd:complexType name="RestaurantException">
    <xsd:sequence/>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="RestaurantException">
    <wsdl:part element="tns:RestaurantException" name="RestaurantException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetResponse">
  </wsdl:message>
  <wsdl:message name="reset">
  </wsdl:message>
  <wsdl:message name="makeBookingResponse">
  </wsdl:message>
  <wsdl:message name="getBookingCountResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeBooking">
  </wsdl:message>
  <wsdl:message name="getBookingCount">
  </wsdl:message>
  <wsdl:portType name="RestaurantServiceAT">
    <wsdl:operation name="getBookingCount">
      <wsdl:input message="tns:getBookingCount" name="getBookingCount">
    </wsdl:input>
      <wsdl:output message="tns:getBookingCountResponse" name="getBookingCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <wsdl:input message="tns:reset" name="reset">
    </wsdl:input>
      <wsdl:output message="tns:resetResponse" name="resetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeBooking">
      <wsdl:input message="tns:makeBooking" name="makeBooking">
    </wsdl:input>
      <wsdl:output message="tns:makeBookingResponse" name="makeBookingResponse">
    </wsdl:output>
      <wsdl:fault message="tns:RestaurantException" name="RestaurantException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestaurantServiceATServiceSoapBinding" type="tns:RestaurantServiceAT">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBookingCount">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getBookingCount">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookingCountResponse">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reset">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="reset">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetResponse">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeBooking">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="makeBooking">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeBookingResponse">
        <soap:body namespace="http://www.jboss.org/jboss-jdf/jboss-as-quickstart/wsat/simple/Restaurant" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RestaurantException">
        <soap:fault name="RestaurantException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantServiceATService">
    <wsdl:port binding="tns:RestaurantServiceATServiceSoapBinding" name="RestaurantServiceAT">
      <soap:address location="http://localhost:8080/jboss-as-wsat-simple/RestaurantServiceAT"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
